.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("john_deere.jpg");
  height: 300px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
    padding: 60px;
    font-size: 100px;
    color: white;
}

h3 {
    padding: 200px;
    font-size: 150px;
    color: white;
}

#prodej {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("johndeere.jpg");
    height: 1200;
    width: 2000;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: gray;
    color: white;
    margin-top: auto;
    font-size: 35px;
}

#vypis {
    padding: 10px;
}

h4 {
   font-size: 35px;
}

#detail {
   padding: 10px;
}